@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/top.cshtml";
    
}

<style>
    .grxx_table {
        color: gray;
        width: 68%;
        margin-left: 2%;
        float: left;
    }

    .p_char_table {
        color: gray;
        width: 100%;
        margin-left: -20px;
        float: left;
    }

    .grxx_biaotou {
        color: #808080;
        font-size: 1.5em;
        font-style: italic;
        float: left;
        width: 66%;
        margin-left: 4%;
    }

    .xttz_biaotou {
        color: #808080;
        font-size: 1.5em;
        font-style: italic;
        float: left;
        width: 100%;
        margin-top: 20px;
    }

    a img:hover {
        border-bottom: 2px solid #a9b7b7;
    }

    td {
        font-style: italic;
    }

    .fl_left {
        float: left;
    }

    .fl_right {
        float: right;
    }

    #quanshenzhao {
        width: 30%;
        height: 300px;
        float: left;
    }
</style>

<div class="tab_bar">
    <h2 class="tab_ing" onclick="window.location.href = 'Index'">我的主页</h2>
    <h2 onclick="window.location.href = 'Asks'">提问<span>0</span></h2>
    <h2 onclick="window.location.href = 'Answers'">回答<span>0</span></h2>
    <h2 onclick="window.location.href = 'Collection'">收藏<span>0</span></h2>
    <h2 onclick="window.location.href = 'Get_Approval'">获赞<span>0</span></h2>
    <h2 onclick="window.location.href = 'Message'">消息<span>0</span></h2>

</div>
<div class="fl_left">
    <div id="quanshenzhao">
        <img src="~/Images/UserImages/QuanShenZhao/quanshenzhao1.jpg" style="width: 100%; height: 100%; border-radius: 16px;" />
    </div>

    <div class="grxx_biaotou">
        <div class="fl_left">个人信息：</div>
        <div class="fl_right">
            <a href="Change_Data" title="修改">
                <img src="~/Images/People-Index-xiugaiziliao.png" />
            </a>
        </div>
    </div>
    <table id="grxx_table" class="grxx_table" cellspacing="20">
        <tr><td>真实姓名：</td><td>@ViewData["realName"]</td></tr>
        <tr><td>出生年月：</td><td>@ViewData["BirthDate"]</td></tr>
        <tr><td>职&nbsp;&nbsp;&nwbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：</td><td> @ViewData["Profession"]</td></tr>
        <tr><td>手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机：</td><td>@ViewData["PhoneNumber"]</td></tr>
        <tr><td>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</td><td>@ViewData["CheckEducationalBackground"]</td></tr>
        <tr><td>爱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;好：</td><td>@ViewData["Interest"]</td></tr>
    </table>
</div>

<div class="xttz_biaotou">
    <div class="fl_left">体型特征：</div>
    <div class="fl_right">
        <a href="Change_Data#sttz" title="修改">
            <img src="~/Images/People-Index-xiugaiziliao.png" />
        </a>
    </div>
</div>
<table id="p_char_table" class="p_char_table" cellspacing="20">
    <tr><td>身高：</td><td>168cm</td><td></td><td>腰围：</td><td>61.32cm</td></tr>
    <tr><td>体重：</td><td>48kg</td><td></td><td>臀围：</td><td>92.43cm</td></tr>
    <tr><td>胸围：</td><td>90.21cm</td><td></td><td>腿围：</td><td>53.79cm</td></tr>

</table>
