@{
    ViewBag.Title = "PostDetails";
    Layout = "~/Views/Shared/Top_menu.cshtml";
    Fashion.Models.Post_model post_mode = (Fashion.Models.Post_model)ViewData["post_mode"];//原帖数据
    @model System.Collections.Generic.List<Fashion.Models.ReplyPost_model>
}
<link href="~/Content/Pinglun_css.css" rel="stylesheet" />
<script src="~/kindeditor/kindeditor-all-min.js"></script>
<script src="~/kindeditor/lang/zh-CN.js"></script>
<link href="~/kindeditor/themes/default/default.css" rel="stylesheet" />
<script>    
    KindEditor.ready(function (K) {
        window.editor = K.create('#editor_id', {
            themeType: 'example1'
        });
    });
</script>


<script>
    $(document).ready(function () {
        var htmlUrl = "/StaticHtml/TieZiHtml/20160418223848_4917.html";//htmlUrl，获取静态html的路径，该htmlUrl存放帖子的内容
        $.ajax({//通过ajax请求静态html的内容
            async: false,
            url: htmlUrl,
            success: function (result) {
                $("#question_details").html(result);//将帖子内容渲染到div里
            }
        });
    });
</script>


<style>
    .answersData {
        float: left;
        margin-top: 10px;
    }
     .zan {
        color: #a9b7b7;
        float:left;
        margin-bottom: 10px;
    }

        .zan a {
            color: #a9b7b7;
            text-decoration: none;
        }

    .zan a:hover {
        text-decoration: underline;
    }
    .keyword {
        background-color: white;
        float: left;
        height: auto;
        width: auto;
        padding: 2px 8px;
        margin-right: 30px;
        border-radius: 5px;
        cursor:pointer;
    }
    .keyword:hover{
        background-color: #b3dfe5;
       color:white;
    }
    .question_details {
        margin: 10px 0;
        background-color: white;
        border: none;
        font-size: 1em;
    }
       .answersData img, .question_details img {
            width: 100%;
            padding: 0 8%;
            margin:10px 0;
        }
    

    .communication {
        float: left;
        font-size: 13px;
        margin-right: 10px;
    }
    .LeftBackground {
        background-color: white;
        padding: 25px 25px 180px 25px;
        float: left;
        width:100%;
    }
    .guanzhuzheTX img{
        width:25px;
        margin:5px;
    }
    .guanzhuzheTX a :hover{
        border:1px solid gray;
    }
</style>
<div class="row" style="background-color: #f6f6f6;height:auto;font-size:1.7em;padding-left:5%;padding-bottom:240px;">
    <div class="col-md-9 col-md-offset-1">
            <div id="Keyword_div" class="col-md-12" style="margin: 15px 0;">
                    <div class="keyword">冬季搭配</div>
                    <div class="keyword">时尚</div>
                    <div class="keyword">显瘦</div>
                    <div class="keyword">最流行</div>
                    <div class="keyword">女生</div>
            </div><!-- <div id="Keyword_div">-!end-->
        <div id="Path" class="col-md-12" style="margin-top:15px;">
                <a href="">Topic</a>>
                <a href="">Answer</a>>
                <a href="">PostDetail</a>
        </div><!-- <div id="Path">-!end-->
        <div id="Left_main" class="col-md-8" style="padding-left:12px;float:left;">
            <div class="LeftBackground">
                <div id="Question">
                    <h4 style="margin:auto;font-weight:bold;">@post_mode.postCaption</h4>
                    <div id="question_details" class="question_details"></div><!-- <pre id="question_details">-!end-->
                    <div id="op_cz" class="op_img"style="font-size:0.9em;">
                        <div id="guanzhu_0" class="data_op_xx" onclick="guanzhu(this.id)"><img src="~/Images/Topic-Home-plus.png" id="gz_img_0" /><div class="data_op_n" id="gz_0">关注</div></div>

                        <div id="zkpl_@post_mode.postId" class="data_op_xx" onclick="xs_pl(this.id,'原帖',@post_mode.commentCount)">
                            <img src="~/Images/Topic-Home-pinglun.png" /><div class="data_op_n" id="pl_@post_mode.postId">@post_mode.commentCount 条评论</div>
                            <input type="hidden" id="pinglunHidden_@post_mode.postId" value="0" />
                        </div>
                            <div id="thx_0" class="data_op_xx" onclick="thx(this.id)">
                                <img src="~/Images/Topic-Home-ganxie.png" /><div class="data_op_n" id="ganxie_0">感谢</div>
                            </div>

                            <div class="data_op_xx" onclick="save(this.id)" id="save_0">
                                <img src="~/Images/Topic-Home-save.png" /><div class="data_op_n" id="save_val_0">收藏</div>
                            </div>
                        <div class="data_op_xx" onclick="save(this.id)">
                            <img src="~/Images/Topic-Home-Ianswers.png" /><div class="data_op_n">我要回答</div>
                        </div>
                            <div class="data_op_xx">
                                <img src="~/Images/Topic-Home-fenxiang.png" /><div class="data_op_n">分享</div>
                            </div>
                            <div class="data_op_xx">
                                <img src="~/Images/Topic-Home-dian.png" /><div class="data_op_n">举报</div>
                            </div>

                    </div>

                    <div id="comments_kuang_@post_mode.postId" class="yc plk" style="font-size:0.9em;"></div>
                        <div style="border-top: 1px solid #686868; float: left; width: 100%; "></div><!--分割线-->
                        <div style="width:100%;float:left;">
                            <div class="communication">
                                <h4 style="margin-bottom:10px;">@post_mode.tuiTieCount 个回答</h4>
                            </div>
                            <div class="communication" style="color: #a9b7b7; float: right;margin-top:10px; margin-right:-5px;">
                                按投票排序
                                <img src="~/Images/Topic-PostDetails-rank.png" />
                            </div>
                        </div>
                        <div style="border-top:1px solid #686868;float:left;width:100%;margin-bottom:10px;"></div><!--分割线-->




                                    @foreach(var replyPost_model in Model)
                                    {
                                                        
                        <div id="AnswersDiv_@replyPost_model.replyPostId" style="float: left; font-size: 0.9em;" onmouseover="xianshi_op(this.id)" onmouseout="yincang_op(this.id)">
                            <div>
                                <div>
                                    <div style="float:right;">
                                        <a href=""><img src="~/Images/UserImages/TouXiang/touxiang1.png" style="width:25px;" /></a>
                                    </div>
                                    <div style="float:left;width:90%;">
                                        <b>@replyPost_model.Commenter.userName,</b>@replyPost_model.Commenter.signature
                                    </div>
                                </div>
                                <div class="zan" style="float:left;">
                                    <a href="">A香香</a>、
                                    <a href="">~\(≧▽≦)/~啦啦啦~~</a>、
                                    <a href="">ll_linna</a>等人觉得很赞
                                </div>

                                <div id="answersData_@replyPost_model.replyPostId" class="answersData">
                                    <!--存放问题答案的div-->
                                    想显瘦的话效果最好的绝对还是黑色小脚裤，超模女星们都人手N条，杨幂、高圆圆也是它的脑残粉，和其他单品也超级百搭，秋天有了它，穿衣也变得无比省心了。
                                    <img src="~/Images/Topic-Home-wentitupian.png.jpg" />
                                </div><!--<div id="answersData">-!end-->
                                <script type="text/javascript">
                                    $.ajax({//通过ajax请求静态html的内容 /StaticHtml/HuiTieHtml/
                                        async: false,
                                        url: '@replyPost_model.replyPostHtmlUrl',
                                        success: function (result) {
                                            $("#answersData_@replyPost_model.replyPostId").html(result);
                                            //alert(result);
                                            //$("#" + z).html(result);
                                        }
                                    });
                                </script>
                            </div>
                            <div class="op_img" id="op_cz">
                                <div id="guanzhu_@replyPost_model.replyPostId" class="data_op_xx" onclick="guanzhu(this.id);"><img src="~/Images/Topic-Home-plus.png" id="gz_img_@replyPost_model.replyPostId" /><div class="data_op_n" id="gz_@replyPost_model.replyPostId">关注</div></div>

                                <div id="zkpl_@replyPost_model.replyPostId" class="data_op_xx" onclick="xs_pl(this.id,'回帖',@replyPost_model.commentCount)">
                                    <img src="~/Images/Topic-Home-pinglun.png" /><div class="data_op_n" id="pl_@replyPost_model.replyPostId">@replyPost_model.commentCount 条评论</div>
                                <input type="hidden" id="pinglunHidden_@replyPost_model.replyPostId" value="0" />
                            </div>
                            <div id="yincang_op_@replyPost_model.replyPostId" style="display:none;">
                                <div id="thx_@replyPost_model.replyPostId" class="data_op_xx" onclick="thx(this.id)">
                                    <img src="~/Images/Topic-Home-ganxie.png" /><div class="data_op_n" id="ganxie_@replyPost_model.replyPostId">感谢</div>
                                </div>

                                <div class="data_op_xx" onclick="save(this.id)" id="save_@replyPost_model.replyPostId">
                                    <img src="~/Images/Topic-Home-save.png" /><div class="data_op_n" id="save_val_@replyPost_model.replyPostId">收藏</div>
                                </div>
                                <div class="data_op_xx">
                                    <img src="~/Images/Topic-Home-fenxiang.png" /><div class="data_op_n">分享</div>
                                </div>
                                <div class="data_op_xx">
                                    <img src="~/Images/Topic-Home-dian.png" /><div class="data_op_n">举报</div>
                                </div>
                            </div>

                            <div class="data_op_xx">
                                <img src="~/Images/Topic-Home-dian.png" /><div class="data_op_n">保留权利</div>
                            </div>
                            <div id="xs_shouqi_@replyPost_model.replyPostId" class="data_op_xx data_op_shouqi">
                                <img src="~/Images/Topic-Home-retract.png" />
                                <div id="shouqi_@replyPost_model.replyPostId" class="data_op_n" onclick="shouqi(this.id)">收起</div>
                            </div>

                        </div>

                            <div id="comments_kuang_@replyPost_model.replyPostId" class="yc plk"></div>
                    </div><!--<div id="AnswersDiv1">-!end-->
                        <div class="hr_fgx"></div><!--分割线-->
                }

                <input type="button" value="更多" style="width:100%;font-size:0.9em;color:gray;height:30px;margin:30px 0;" />

                </div><!-- <div id="Question">-!end-->
                <div class="hr_fgx"></div><!--分割线-->
                <div id="answerDiv">
                <div>
                    <span style="float:left;"><span style="color:#225599;font-weight:bold;">linjiejie</span><span>，姐姐是好好学习的孩子~</span></span>
                    <span style="float:right;width:30px;"><img src="~/Images/Layout-usertouxiang.png" style="width:100%;border-radius:3px;"/></span>
                </div>

                    <div id="editorDiv" style="width:100%;">
                        <textarea id="editor_id" name="content">
                            &lt;strong&gt;HTML内容&lt;/strong&gt;
                        </textarea>
                    </div>



                </div><!--<div id="answerDiv">!end-->




            </div><!--<div class="LeftBackground">-!end-->


        </div><!-- <div id="Left_main">-!end-->
       



        <div id="Right_main" class="col-md-4 visible-lg visible-md" style="background-color: white; padding: 25px 25px 180px 25px; float: left;">
            <div style="width:100%;">
                <button class="btn btn-default">关注问题</button>
                <button class="btn btn-default">设置</button>
            </div>
            <div style="margin:15px 0;color:gray;font-size:0.9em;">
                <a href="">234</a>人关注该问题
            </div>
            <div class="guanzhuzheTX">
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
                <a href=""><img src="~/Images/Layout-usertouxiang.png" /></a>
            </div>
            <div style="border-top: 1px solid #686868; float: left; width: 100%; margin:15px 0;"></div><!--分割线-->
            <div>
                <b>问题状态</b>
            </div>
            <div style="margin-top:5px;"><a href="" style="color: #225599; font-size: 12px; ">冬季衣服色彩搭配</a></div><div style="margin-top: 5px; "><a href="" style="color: gray; font-size: 12px; text-decoration: none;">21个回答</a></div>
            <div style="margin-top:5px;"><a href="" style="color: #225599; font-size: 12px; ">冬季衣服色彩搭配</a></div><div style="margin-top: 5px; "><a href="" style="color: gray; font-size: 12px; text-decoration: none;">21个回答</a></div>
            <div style="margin-top:5px;"><a href="" style="color: #225599; font-size: 12px; ">冬季衣服色彩搭配</a></div><div style="margin-top: 5px; "><a href="" style="color: gray; font-size: 12px; text-decoration: none;">21个回答</a></div>
            <div style="margin-top:5px;"><a href="" style="color: #225599; font-size: 12px; ">冬季衣服色彩搭配</a></div><div style="margin-top: 5px; "><a href="" style="color: gray; font-size: 12px; text-decoration: none;">21个回答</a></div>
            <div style="border-top: 1px solid #686868; float: left; width: 100%; margin: 15px 0;"></div><!--分割线-->

            <div style="margin-top:15px;">
                <b>问题状态</b>
            </div>

            <div style="margin-top:15px;">
                <div style="color: gray; font-size: 12px;">
                    最近活动于 昨天 17:26 • <a href=" ">
                        查看问题日志
                    </a>
                    被浏览 24179 次，相关话题关注者 2143816 人
                </div>

            </div>



        </div><!-- <div id="Right_main">-!end-->

    </div>
</div><!--<div class="row">!-end-->












@*这里是影藏的评论html模板，用于js调用*@
<div id="TheCommentCode" style="display:none ;">
    <div class="pl_margin" id="pinglunkuang-simplei-simplej" onmouseover="xs_pinglun_op(this.id)" onmouseout="yc_pinglun_op(this.id)">
        <div class="bottom_jg pl_er_tx">
            <img src="simpleCommenterTouXiang" />
        </div>
        <div class="pl_main">
            <div class="comments_er bottom_jg"><a href="">simpleCommenterUser</a></div>
            <div class="bottom_jg">simpleContent</div>
            <div class="bottom_jg">
                <span class="comment_op">simpleDate</span>
                <span class="yc comment_op" id="pinglun-op-simplei-simplej">
                    <span id="huifu-simplei-simplej" onclick="huifukuang(this.id)"><img src="~/Images/Topic-Home-huifu.png" />回复</span>
                    <span id="pl-dianzan-simplei-simplej" onclick="pl_dianzan(this.id)"><img src="~/Images/Topic-Home-dianzan.png" /><span id="pl-dianzan-btn-simplei-simplej">点赞</span></span>
                    <span><img src="~/Images/Topic-Home-jubao.png" />举报</span>
                </span>
                <span class="comment_op fl_right"><span id="pl-dianzanshu-simplei-simplej">simpleSupportCount</span><span>赞</span></span>
            </div>
            <div id="huifu-pl-simplei-simplej"></div><!--回复评论产生的地方-->
            <div id="plk-simplei-simplej"></div>     <!--产生回复评论框的地方-->


        </div>

    </div>
    <hr class="pl_fgx" />



</div>
<div id="TheCommentPingLun" style="display:none;">
    <div id="tjpl_simplei"></div>  <!--创建评论产生的地方-->

    <hr style="border:none;border-top:1px solid #ebe4e4;width:100%;" />
    <div class="page" id="fenye_div"></div>

    <div class="plk_z">
        <input id="pl_text_simplei" type="text" placeholder="写下你的评论..." class="pinglun_text" onclick="xs_pl_btn(this.id)" />
        <div id="pl_op_simplei" class="pl_op yc">
            <span class="qx_comment"><a onclick="yc_pl_btn(this.id)" id="qx_btn_simplei">取消</a></span>
            <span><input id="pl_btn_simplei" type="button" value="评论" class="pl_btn" onclick="cj_pl(this.id)" /></span>
        </div>
    </div>
</div>
