<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"  />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="~/Scripts/MyScripts/Login.js"></script>
    <script type="text/javascript">
        //本函数实现退出登录
        function AjaxMakeLoginOut()
        {
            $.ajax({
                url: "../User/AjaxMakeUnLogin",
                success: function (data) {
                    if (data == "1")
                    {
                        window.location.href = "../Topic/LoginRemind";
                    }
                }
            });
        }
    </script>
    <script>

        //本函数实现鼠标移上快捷栏时，快捷栏的图标变成字
        function kuaijie_over(x) {
            document.getElementById(x).style.backgroundColor = "#808080";

            if (x == "sousuo") {
                document.getElementById(x).innerHTML = "点击搜索";
                sousuok.style.display = "block";
            }
            else {
                sousuo.innerHTML = "";
                sousuo.style.backgroundColor = "#c4bfbf";
                var img_tb = document.createElement('img');//创建图片图标
                sousuok.style.display = "none";
                img_tb.setAttribute('src', '/Images/Topic-Home-sousuo.png');

                img_tb.className = "width_full";
                sousuo.appendChild(img_tb);

                if (x == "backtop") {
                    document.getElementById(x).innerHTML = "返回顶部";
                }
                else if (x == "tiwen") {
                    document.getElementById(x).innerHTML = "点击提问";
                }
                else if (x == "zixun") {
                    document.getElementById(x).innerHTML = "专家咨询";
                }
                else if (x == "xinxi") {
                    document.getElementById(x).innerHTML = "查看信息";
                }
            }
        }
        //实现当鼠标移开时，快捷栏还原
        function kuaijie_out(x) {
            document.getElementById(x).innerHTML = "";
            document.getElementById(x).style.backgroundColor = "#c4bfbf";
            var img_tb = document.createElement('img');//创建图片图标
            sousuok.style.display = "none";
            if (x == "tiwen") {
                img_tb.setAttribute('src', '/Images/Topic-Home-woyaotiwen.png');
            }
            else if (x == "zixun") {
                img_tb.setAttribute('src', '/Images/Topic-Home-zixun.png');
            }
            else if (x == "xinxi") {
                img_tb.setAttribute('src', '/Images/Topic-Home-xinxi.png');
            }
            else if (x == "backtop") {
                img_tb.setAttribute('src', '/Images/Topic-Home-backtop.png');
            }
            img_tb.className = "width_full";
            document.getElementById(x).appendChild(img_tb);
        }
    </script>
    <style>
        .ssk {
            height: 20px;
            border-radius: 4px;
            width: 150px;
        }

        .kjl_div {
            position: fixed;
            top: 45%;
            right: 13%;
            width: 30px;
        }

        .ssk_div {
            position: fixed;
            top: 45.6%;
            background-color: #808080;
            right: 14.8%;
            border-radius: 4px;
            width: 150px;
            padding: 13px;
            display: none;
        }

        .kuaijie_btn {
            border-radius: 4px;
            background-color: #c4bfbf;
            margin-top: 10%;
            width: 100%;
            padding: 30%;
            color: white;
            font-size: 1em;
            text-align: center;
            cursor: pointer;
        }

        .width_full {
            width: 100%;
        }
    </style>
    <style>
        #top {
            height: 35px;
            width: 100%;
            background-color: black;
        }

        .li_css {
            height: 35px;
            line-height: 35px;
            color: white;
            padding-left: 30px;
            width: 140px;
            margin-left: -40px;
        }

        .username {
            cursor: pointer;
            margin-top: 0;
            float: right;
            margin-right: -10px;
            list-style: none;
            height: 35px;
            width: 140px;
            line-height: 35px;
            color: white;
            position:relative;
        }

            .username li:hover {
                background-color: #281f1f;
            }

        .userset li:hover {
            background-color: #808080;
        }

        .userset {
            list-style: none;
            width: 130px;
            background-color: #281f1f;
            margin-left: -30px;
            display: none;
            border-radius: 0 0 5px 5px;
        }

        .username li:hover .userset {
            display: block;
        }

        .img_jiange {
            margin-right: 15px;
            float: left;
            margin-top: 5px;
        }

        .fengefu {
            margin: 0 15px 0 15px;
            float: right;
        }

        .top_right {
            float: right;
        }

            .top_right a {
                color: white;
                text-decoration: none;
            }

                .top_right a:hover {
                    color: #fa6214;
                }

        #share_tubiao img {
            float: right;
            margin: 10px 6px 0 6px;
        }
    </style>


    <script>
        $(document).ready(function () {

            //配置登录信息的变量,登录状态 登录名 头像url等
            var isLogin = "@ViewData["LoginYes"]";//已登录：1；   未登录：0；
            var touXiangUrl=""; //用户头像url
            var userName="";  //用户名
               if(isLogin=="1")
            {
                touXiangUrl = "@ViewData["TouXiangUrl"]";//这里是从后端传回来的值，是字符串，所以要加引号,不能加tostring
                userName="@ViewData["userName"]";
               }
            /////配置变量完毕
            //////若登陆成功，设置本页面的用户信息
            if (isLogin == "1")
            {
                $("#theUserNameFont").text(userName);
                $("#img_touXiang").attr("src",touXiangUrl);
                //$("#theUserNameA").text(userName);
                //$("#theUserTouXiangImg").attr("src",touXiangUrl);
            }
            /////设置用户信息完毕
            IsLoginDisplay(isLogin, "login_xs", "un_login_xs");//根据用户是否登录显示导航栏的用户信息





        });

        ////实现根据用户是否登录成功来设置导航栏的用户登录或未登录状态
        //function makeLoginDisplay(isLogin) {
        //    if (isLogin == "1") {
        //        LoginYesDisplay("login_xs", "un_login_xs");//本函数位于：~/Scripts/MyScripts/Login.js
        //    }
        //    else {
        //        UnLoginDisplay("login_xs", "un_login_xs");//本函数位于：~/Scripts/MyScripts/Login.js
        //    }
        //}


        @*function isLoginDisplay() {
            var isLogin = "@ViewData["LoginYes"].ToString()";//1代表已经登录，0代表未登录}
            if (isLogin == "1") {
                document.getElementById("login_xs").style.display = "block";
                document.getElementById("un_login_xs").style.display = "none";
                $("#img_touXiang").attr('src', '@ViewData["TouXiangUrl"]');//显示个人头像
            }
            else {
                document.getElementById("un_login_xs").style.display = "block";
                document.getElementById("login_xs").style.display = "none";
            }
        }*@
    </script>   
    <style>
        html {
            height: 100%;
            width: 100%;
        }

        body {
            height: 100%;
            width: 100%;
            padding: 0px;
            margin: 0px;
            font-size: 25%;
        }
        /*导航栏*/
        .nav {
            width: 100%;
            /*position: fixed;
            top: 9%;
            left: 9%;*/
            margin-top: 30px;
            margin-bottom:0px;
            
            z-index: 2;
            height: 80px;
        }
        /*导航栏里的链接*/
        .nav-tag {
            font-family: Arial;
            font-size: 2em;
            margin-right: 2.5%;
            margin-top: 20px;
            float: left;
        }

        a.nav-tag-a:link {
            text-decoration: none;
        }

        a.nav-tag-a:hover {
            background-color: #5cbbd3;
        }

        a.nav-tag-a:visited {
            color: #a2b6b0;
        }

        .bb {
            border: 1px solid green;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            //$("#iconOut").click(function () {

            //    $("#theContainer").animate({ left: "0px" }, "slow");

            //    $("#theRightHiddenPage").css("display", "block");
            //    $("#theRightHiddenPage").animate({ width: "250px" }, "slow");

            //    $("#iconOut").css("display", "none");
            //    $("#theRightBar").css("display", "none");
            //});
            $("#consult").click(function () {
                window.location.href = "Post";
            });
            $("#ask").click(function () {
                window.location.href = "Post";
            });
            //$("#iconIn").click(function () {
            //    //$("#TheContent").animate({ right: "100px" }, "slow");
            //    $("#theContainer").css("left", "14%");
            //    $("#theRightHiddenPage").animate({ width: "10px" }, "slow");
            //    $("#theRightHiddenPage").css("display", "none");
            //    $("#iconOut").css("display", "");
            //    $("#theRightBar").css("display", "");
            //});
          

        });
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="top">
        <div style="float:left;color:white;margin-left:90px;margin-top:8px;cursor:pointer;" onclick="window.location.href = '../Topic/Home'">
            时尚达人&nbsp;|&nbsp;FASHION
        </div>
        <div id="share_tubiao" style="margin-right:80px;">
            <a href="" title="分享到QQ"><img src="/Images/Layout-qq.png" /></a>
            <a href="" title="分享到微信"><img src="/Images/Layout-weixin.png" /></a>
            <a href="" title="分享到微博"><img src="/Images/Layout-weibo.png" /></a>
        </div>
        <div id="un_login_xs" style="float:right;color:white;margin:10px 0 0 0;display:none;">

            <div class="fengefu">|</div>
            <div class="top_right">
                <a href="../../People/Login">登录</a>
            </div>
            <div class="fengefu">|</div>
            <div class="top_right">
                <a href="../../People/Register">注册</a>
            </div>
            <div class="fengefu">|</div>

        </div>
        <ul id="login_xs" class="username" style="display:block;">
            <li class="li_css" >
                <img id="img_touXiang" style="width:20px;margin-top:8px;height:20px;" class="img_jiange" />
                <font id="theUserNameFont" ></font>
                <ul class="userset">
                    <li class="li_css" onclick="window.location.href = '../../People/Index';">
                        <img src="/Images/Layout-myzhuye.png" class="img_jiange" />我的主页
                    </li>
                    <li class="li_css" onclick="">
                        <img src="/Images/Layout-set.png" class="img_jiange" />设置
                    </li>
                    <li class="li_css" onclick="AjaxMakeLoginOut();">
                        <img src="/Images/Layout-out.png" class="img_jiange" />退出
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="nav" class="nav ">
        <div style="font-weight: bold; width: 14%;  margin: 4px 5% 0 15%; float: left; ">
            <img src="/Images/Layout-logo.png" style="width:100%;height:50px;" />
        </div>
        <div id="tag1" class="nav-tag">
            <a href="/Topic/Home" class="nav-tag-a">
                首页
            </a>
        </div>
        <div id="tag2" class="nav-tag">
            <a href="/StreetSnap/streetHome" class="nav-tag-a">
                街拍
            </a>

        </div>
        <div id="tag3" class="nav-tag">
            <a href="/Test/gerenxiu" class="nav-tag-a">个人秀</a>

        </div>
        <div id="tag4" class="nav-tag">
            <a href="/Test/chaoliuzixun" class="nav-tag-a">
                潮流资讯
            </a>

        </div>
        <div id="search" class="nav-tag" style="width: 15%;margin:1.7% 0 0 2.8%; ">
            <input type="text" style="height:30px;border-radius:15px;padding-left:10px;width:100%;" placeholder="Search" />
        </div>
    </div>
    <div style="width:100%;height:2px;">
        <hr style="border:none;border-top:1px solid #c4bfbf;" />
    </div>
   

    <div id="theContainer" class="theContainer">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <div id="sousuok" class="ssk_div">
        <input type="text" class="ssk" />
    </div>
    <div class="kjl_div">
        <div id="sousuo" class="kuaijie_btn" onmouseover="kuaijie_over(this.id)">
            <img src="~/Images/Topic-Home-sousuo.png" class="width_full" />
        </div>
        <div id="tiwen" class="kuaijie_btn" onmouseover="kuaijie_over(this.id)" onmouseout="    kuaijie_out(this.id)" onclick="xianshi_ask_div()">
            <img src="/Images/Topic-Home-woyaotiwen.png" id="tiwen1" class="width_full" />
        </div>
        <div id="zixun" class="kuaijie_btn" onmouseover="kuaijie_over(this.id)" onmouseout="kuaijie_out(this.id)" onclick="    window.location.href = '../Topic/Consult'">
            <img src="/Images/Topic-Home-zixun.png" id="zixun1" class="width_full" />
        </div>
        <div id="xinxi" class="kuaijie_btn" onmouseover="kuaijie_over(this.id)" onmouseout="kuaijie_out(this.id)">
            <img src="/Images/Topic-Home-xinxi.png" id="xinxi1" class="width_full" />
        </div>
        <div id="backtop" class="kuaijie_btn" onclick="scroll(0, 0)" onmouseover="kuaijie_over(this.id)" onmouseout="kuaijie_out(this.id)">
            <img src="/Images/Topic-Home-backtop.png" id="backtop1" class="width_full" />
        </div>
    </div>
    <script>

        try {     //关于显示隐藏滚动条js
            var isStyle = document.getElementById("hsScroll").type; ask_div
        }
        catch (err) {     //关于显示隐藏滚动条js
            document.write('<style id="ahsScroll" type="text/css">.hScroll{overflow:hidden;} .sScroll{}</style>');
        }

        function close_ask() {             //关闭提问层JS
            //document.documentElement.className = "sScroll";
            document.getElementById("touming_fugai_div").style.display = "none";
            document.getElementById("ask_div").style.display = "none";
        }
        function xianshi_ask_div() {       //点击显示提问层js
            //document.documentElement.className = "hScroll";
            document.getElementById("touming_fugai_div").style.display = "block";
            document.getElementById("ask_div").style.display = "block";
            var Y = $(document).scrollTop() + "px";  //获取滚动条到顶部的垂直高度
            document.getElementById("ask_div").style.marginTop = Y;
        }
    </script>

    <div id="touming_fugai_div" class="touming_fugai_div"></div>
    <div id="ask_div" class="ask_div">
        <div class="ask_div_top_bg">
            &nbsp; &nbsp; 提问
            <img src="/Images/Layout-guanbi.png" style="float:right;margin:5px 10px 0 0;cursor:pointer;" onclick="close_ask()" />
        </div>
        <div class="ask_shenming">
            <p>您提的每一个问题，时尚达人们将会为您解答！</p>
            <p>时尚达人希望能帮您找到适合自己的搭配，走在时尚！</p>
            <p>好的问题更容易得到好的答案。<a href="">如何提一个好问题？</a></p>
            <h6>提问应遵循真实、客观、简洁、明确、规范的原则</h6>
            <p>1、提问应尽可能简洁明了，避免「请问」「有谁知道」「谢谢！」等与问题本身无关的附加语。</p>
            <p>2、应避免使用「为神马」「童鞋」「肿么办」等网络用语。</p>
            <p>3、基于个人判断或传言的问题，在提问时应在补充说明里详细说明原由。</p>
            <p>4、避免太宽泛问题，如调查性的问题容易变成每个人都可以发表观点，但对其他人没有价值。</p>
            <h6>时尚达人禁止以下提问</h6>
            <p>1、和已有问题完全重复的问题，为避免重复，提问前可以先进行搜索</p>
            <p>2、与时尚无关的问题。</p>
            <h6>提问前请先搜索</h6>
            <input type="text" id="question_text" style=" width: 98%; height: 30px;border-radius: 2px; border: 1px solid #a2b6b0;padding:0 1% 0 1%;" oninput="question_sousuo()" placeholder="请输入您的问题" />
            <div id="xg_question"></div>
        </div>
    </div>
    <script>

        function question_sousuo() {
            var val = document.getElementById("question_text").value;
            if (val.length <= 0) {
                document.getElementById("xg_question").innerHTML = "";
                document.getElementById("xg_question").className = "";

            }
            else {
                document.getElementById("xg_question").className = "xg_question";
                if (val.indexOf("l") >= 0) {
                    document.getElementById("xg_question").innerHTML = "";
                    var h6_div = document.createElement('h6');//创建h6
                    h6_div.innerHTML = "你想问的问题是不是:";
                    document.getElementById("xg_question").appendChild(h6_div);
                    var p1 = document.createElement('p');//创建h6
                    p1.innerHTML = "<font>女生有LO（LOLITA）装，男士有相对的洋装吗？</font>20个回答";
                    document.getElementById("xg_question").appendChild(p1);
                    var p2 = document.createElement('p');//创建h6
                    p2.innerHTML = "<font>应该如何选购 JK 制服和 LO 装？</font>20个回答";
                    document.getElementById("xg_question").appendChild(p2);
                    var p3 = document.createElement('p');//创建h6
                    p3.innerHTML = "<font>觉得lo装超美，结婚的时候也想穿lo，求各位推荐适合的款或牌子！？国牌日牌都可！</font>20个回答";
                    document.getElementById("xg_question").appendChild(p3);
                    var p4 = document.createElement('p');//创建h6
                    p4.innerHTML = "<font>Lob 发型对脸型有什么要求？想剪 Lob 发型要注意哪些问题？</font>20个回答";
                    document.getElementById("xg_question").appendChild(p4);
                    var div_new = document.createElement('div');//创建div
                    div_new.innerHTML = "不是，我要提一个新问题>>";
                    div_new.className = "div_new"
                    div_new.onclick = function () { window.location.href = '../../Topic/Post' };
                    document.getElementById("xg_question").appendChild(div_new);
                }
                else if (val.indexOf("发") >= 0) {
                    document.getElementById("xg_question").innerHTML = "";
                    var h6_div = document.createElement('h6');//创建h6
                    h6_div.innerHTML = "你想问的问题是不是:";
                    document.getElementById("xg_question").appendChild(h6_div);
                    var p1 = document.createElement('p');//创建h6
                    p1.innerHTML = "<font>圆脸女生适合什么发型？</font>20个回答";
                    document.getElementById("xg_question").appendChild(p1);
                    var p2 = document.createElement('p');//创建h6
                    p2.innerHTML = "<font>男生发型求推荐</font>20个回答";
                    document.getElementById("xg_question").appendChild(p2);
                    var p3 = document.createElement('p');//创建h6
                    p3.innerHTML = "<font>脸大适合什么发型？</font>20个回答";
                    document.getElementById("xg_question").appendChild(p3);
                    var div_new = document.createElement('div');//创建div
                    div_new.innerHTML = "不是，我要提一个新问题>>";
                    div_new.className = "div_new";
                    div_new.onclick = function () { window.location.href = '../../Topic/Post' };
                    document.getElementById("xg_question").appendChild(div_new);
                }
                else {
                    document.getElementById("xg_question").innerHTML = "";
                    var div_new = document.createElement('div');//创建div
                    div_new.innerHTML = "没有找到相关问题，马上提问>>";
                    div_new.className = "div_new";
                    div_new.id = "div_new_id";
                    div_new.onclick = function () { window.location.href = '../../Topic/Post' };
                    document.getElementById("xg_question").appendChild(div_new);
                }
            }
        }

    </script>


    <style>
        .div_new {
            text-align: center;
            border-top: 1px solid #a2b6b0;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #xg_question h6 {
            margin-left: 5px;
            margin-top: 0px;
            padding-top: 5px;
        }

        #xg_question p {
            margin-left: 5px;
            margin-right: 5px;
            color: gray;
        }

        #xg_question font {
            margin-right: 5px;
            color: black;
        }

        #xg_question p font:hover, .div_new:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        #xg_question p:hover {
            text-decoration: none;
            cursor: default;
        }

        .xg_question {
            border-left: 1px solid #a2b6b0;
            border-bottom: 1px solid #a2b6b0;
            border-right: 1px solid #a2b6b0;
            width: 100%;
        }

        .ask_shenming h6 {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .ask_shenming {
            padding: 0 20px 0 20px;
        }

            .ask_shenming h6 {
            }

        .ask_div_top_bg {
            background-color: black;
            line-height: 30px;
            height: 30px;
            width: 100%;
            border-radius: 10px 10px 0 0;
            color: white;
            font-weight: bold;
        }

        .ask_div {
            background-color: white;
            border-radius: 10px;
            height: auto;
            width: 40%;
            margin-left: 28%;
            padding-bottom: 20px;
            top: 100px;
            display: none;
            position: absolute;
        }

        .touming_fugai_div {
            height: 100%;
            display: none;
            width: 100%;
            background-color: black;
            filter: Alpha(Opacity=50); /*IE浏览器*/
            -moz-opacity: 0.5; /*火狐浏览器*/
            opacity: 0.5; /*其他浏览器*/
            top: 0;
            position: fixed;
        }
    </style>
</body>
</html>
