<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="~/Scripts/MyScripts/Login.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.js"></script>
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        #top {
            color: white;
            background-color: black;
            height: 30px;
            font-size: 1em;
        }

        .fengefu {
            margin: 0 15px;
            float: right;
        }

        .top-right {
            float: right;
        }

            .top-right a {
                color: white;
                text-decoration: none;
            }

                .top-right a:hover {
                    color: #fa6214;
                }

        #ShareTubiao img {
            float: right;
            margin: 0px 6px;
        }

        .li_css {
            height: 30px;
            line-height: 30px;
            color: white;
            padding-left: 30px;
            width: 150px;
            margin-left: -40px;
        }

        .username {
            cursor: pointer;
            position: relative;
            list-style: none;
            height: 30px;
            margin-top: -5px;
            width: 150px;
            line-height: 30px;
            z-index: 9;
            color: white;
            float: right;
        }

            .username li:hover {
                background-color: #281f1f;
            }

        .userset li:hover {
            background-color: #808080;
        }

        .userset {
            list-style: none;
            width: 150px;
            background-color: #281f1f;
            display: none;
            border-radius: 0 0 5px 5px;
            margin-left: -30px;
        }

        .username li:hover .userset {
            display: block;
        }

        .img_jiange {
            margin-right: 15px;
            float: left;
            margin-top: 3px;
        }
        /*导航栏*/
        .nav {
            width: 100%;
            /*position: fixed;
            top: 9%;
            left: 9%;*/
            margin-top: 30px;
            margin-bottom: 0px;
            z-index: 2;
            height: 80px;
        }
        /*导航栏里的链接*/
        .nav-tag {
            font-family: Arial;
            font-size: 3.5em;
            margin-left: 6%;
            float: left;
        }

        a.nav-tag-a:link {
            text-decoration: none;
        }

        a.nav-tag-a:hover {
            background-color: #5cbbd3;
        }

        a.nav-tag-a:visited {
            color: #a2b6b0;
        }
    </style>
    <div id="top">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
                <div style="float:left;cursor:pointer;padding-left:15px;margin:5px 0;" onclick="window.location.href = '../Topic/Home'">
                    时尚达人&nbsp;|&nbsp;FASHION
                </div>
                <div id="ShareTubiao" style="margin:5px 0;">
                    <a href="" title="分享到QQ"><img src="/Images/Layout-qq.png" /></a>
                    <a href="" title="分享到微信"><img src="/Images/Layout-weixin.png" /></a>
                    <a href="" title="分享到微博"><img src="/Images/Layout-weibo.png" /></a>
                </div>
                <div id="un_login_xs" style="width: 150px; float: right; display: none; margin: 5px 0;">

                    <div class="fengefu">|</div>
                    <div class="top-right">
                        <a href="../../People/Login">登录</a>
                    </div>
                    <div class="fengefu">|</div>
                    <div class="top-right">
                        <a href="../../People/Register">注册</a>
                    </div>
                    <div class="fengefu">|</div>
                </div>
                <ul id="login_xs" class="username" style="display:block;">
                    <li class="li_css" onclick="window.location.href = '../../People/Index';">
                        <img id="img_touXiang" src="~/Images/UserImages/TouXiang/daren_1.jpg" style="width:20px;margin-top:6px;height:20px;" class="img_jiange" />
                        <font id="theUserNameFont">fdsfaf</font>
                        <ul class="userset">
                            <li class="li_css" onclick="window.location.href = '../../People/Index';">
                                <img src="/Images/Layout-myzhuye.png" class="img_jiange" />我的主页
                            </li>
                            <li class="li_css" onclick="">
                                <img src="/Images/Layout-set.png" class="img_jiange" />设置
                            </li>
                            <li class="li_css" onclick="">
                                <img src="/Images/Layout-out.png" class="img_jiange" />退出
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="nav">
        <div class="row"style="margin-top:40px;margin-bottom:25px;">
            <div class="col-md-offset-1 col-md-3" style="text-align:center;">
                <img src="/Images/Layout-logo.png"style="width:200px;" />
            </div>
            <div class="col-md-4 col-md-offset-0 col-sm-offset-1 col-xs-offset-1" style="margin-top:15px;text-align:center;">
                <div id="tag1" class="nav-tag" style="margin-left:0;">
                    <a href="/Topic/Home" class="nav-tag-a">
                        首页
                    </a>
                </div>
                <div id="tag2" class="nav-tag">
                    <a href="/StreetSnap/streetHome" class="nav-tag-a">
                        街拍
                    </a>

                </div>
                <div id="tag3" class="nav-tag">
                    <a href="/Test/gerenxiu" class="nav-tag-a">个人秀</a>

                </div>
                <div id="tag4" class="nav-tag">
                    <a href="/Test/chaoliuzixun" class="nav-tag-a">
                        潮流资讯
                    </a>
                </div>
            </div>
            <div class="col-md-1"style="text-align: center; margin-top: 15px;">
                <input type="text" style="height:35px;border-radius:15px;padding-left:10px;width:200px;" placeholder="Search" />
            </div>
        </div>
        <div style="border-top:1px solid #c4bfbf;margin-top:10px;" ></div><!--分割线-->
    </div>
    <div id="theContainer">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
